<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
  <!-- form card login -->
       <div class="card rounded-0">
           <div class="card-header">
                 <h3 class="mb-0">Resend confirmation instructions</h3>
            </div>
        <div class="card-body">


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg rounded-0' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-lg' %>
  </div>
</div>

  <div class="card-header text-center">
  <%= render "users/shared/links" %>
  </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
          
      

