<p id="notice"><%= notice %></p>

<div class="panel">
  <% if @user.first_name %>
    <h1>Welcome to your dashboard, <%= @user.first_name%></h1>
  <% else %>
    <h1>Create your profile</h1>
    <!-- Render the profile creation panel etc -->
    <%= render "create_profile" %>
  <% end %>
</div>

<%= @matches %>

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
