
<p id="notice"><%= notice %></p>

<div class="jumbotron">
<div class="panel">
  <% if @user %>
    <h1>Welcome to your dashboard, <%= @user.first_name%></h1>

    <div class="listings">
      <!-- If an employer has logged in then render each listing with
      each matched hunter -->
      <% if @user.is_employer? %>
        <!-- Render the partial for the listing matches -->
        <%= render @user.employer_profile.listings %>
      <% else %> <!-- otherwise the user is a hunter -->
        <%= %>
      <% end %>
    </div>
    <!-- otherwise render the profile creation view -->
  <% else %>
    <h1>Create your profile</h1>
    <!-- Render the profile creation panel etc -->
    <%= render :partial => 'hunter_profiles/form' %>
  <% end %>
</div>


<div class="text-center">
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: 'btn btn-primary btn-lg' %>
</div>
</div>
