
<p id="notice"><%= notice %></p>

<div class="jumbotron">
<div class="panel">
  <% if @user.first_name %>
    <h1>Welcome to your dashboard, <%= @user.first_name%></h1>

    <div class="listings">
      <!-- If an employer has logged in then render each listing with
      each matched hunter -->
      <% if @user.is_employer? %>
        <%= @listings.each do |listing,hunters| %>
          <!-- score for the hunter maps to hunter[1] -->
          <div class="detailed-listing">
            <p><%= listing.title %></p>
            <p><%= hunters[1] %>% match</p>
            <!-- TODO make button toggle visibility of the detailed hunter info -->
            <div class="hunter-details">
              <!-- Render this on button press -->
              <p><%= hunters[0].user.first_name + ' ' + hunters[0].user.last_name %></p>
              <!-- TODO add form for creating a link between a hunter_profile
              and listing -->
              
            </div>
          </div>
        <% end %>
      <% else %> <!-- otherwise the user is a hunter -->
        <%= @listings.each do |listing| %>
          <%= listing.title %>
        <% end %>
      <% end %>
    </div>
    <!-- otherwise render the profile creation view -->
  <% else %>
    <h1>Create your profile</h1>
    <!-- Render the profile creation panel etc -->
    <%= render :partial => 'hunter_profiles/form' %>
  <% end %>
</div>


<div class="text-center">
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: 'btn btn-primary btn-lg' %>
</div>
</div>
