<%= form_for @hunter_profile do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :industry %><br />
    <%= f.text_field :industry %>
  </p>
  <%= f.fields_for :skill do |builder| %>
    <%= render "skill_fields", :f =>builder %>
  <% end %>
  <p><%= link_to_add_skill "Add Skill", f, :skill %></p>
  <p><%= f.submit "Create Profile" %></p>
<% end %>
