<% provide(:title, 'Sign up') %>
<% content_for :navbar do %>
      <%= render 'layouts/signup/signupnav' %>
 <% end %>

   <div style="min-height: 100%; padding-bottom: 1px;"><br><br>
    <div class="row">
     <div class="card horizontal z-depth-2" style="min-width: 450px; margin: auto; padding: 10px; border-radius: 15px;">
      <h1 class="card-header text-center" style="color: #304a74;"><i class="material-icons teal-text" style="font-size: 0.75em;">fingerprint</i> Sign Up</h1>
   
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
<div class="form-group">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <span class="form-highlight"></span>
  <span class="form-bar"></span>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <span class="form-highlight"></span>
  <span class="form-bar"></span>
  </div>

<div class="form-group">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <span class="form-highlight"></span>
  <span class="form-bar"></span>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "card-header btn btn-block btn-info lighten-2 ripple-effect" %>
  </div>
  
  <div class="card-header text-center">
    <%= render "users/shared/links" %>
  </div>
  </div>
  </div>
<% end %>




  

