<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Bootstrap 4 Login Form</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
  <!-- form card login -->
       <div class="card rounded-0">
           <div class="card-header">
                 <h3 class="mb-0">Sign up</h3>
            </div>
        <div class="card-body">
   
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg rounded-0' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg rounded-0' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg rounded-0' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn-success btn-lg float-right' %>
    </div>
    </div>
    
    <div class="card-header text-center">
      <%= render "users/shared/links" %>
      </div>
    </div>
    </div>
  </div>
    </div>
  </div>
<% end %>




  

