<div style="min-height: 100%; padding-bottom: 1px;"><br><br>
    <div class="row">
     <div class="card horizontal z-depth-2" style="min-width: 650px; margin: auto; padding: 10px; border-radius: 15px;">
      <h1 class="card-header text-center" style="color: #304a74;">Log In</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
  </div>
  
  <div class="card-header text-center">
    <%= render "users/shared/links" %>
  </div>
  </div>
  </div>
<% end %>

