<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if content_for?(:navbar) %>
    <%= yield(:navbar) %>
<% else %>
   <%= render 'layouts/navigation' %>
<% end %>
     <div style="min-height: 100%; padding-bottom: 1px;">
        <br><br>
    <%= yield %>
    </div>
  </body>
</html>
